<%- include('includes/header'); %>
    <p>Welcome to the landing page for my drone management stuff. I will be including a link to a video streaming solution at some stage, but primarily this is about getting an interface for the securing of my drone streaming URLs up and running ASAP.</p>
<%- include('includes/footer'); %>