<%- include('includes/header'); %>
    <p>Welcome to the landing page for my drone management stuff. There's a page <a href="/streams/">here</a> with a primitive player interface that will show up if I'm streaming, but the primary purpose of this website is to act as a place where I can generate secure links for use in streaming drone footage.</p>
    <p>In the vein of "jokes are funnier if you have to explain them", the name of this project (lyreen) comes from the Irish word Ladhara&iacute;n, which means "a small fork in a stream but is also the name of the small stream outside the housing estate where I live.</p>
    <p>When I'm streaming, I'll be posting to Mastadon and Facebook to that effect, if you want notifications go there.</p>
<%- include('includes/footer'); %>